% rebase('base.html')

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    var st_sestavin = 1
    function add() {
        var ime_sestavine = "<br\>ime sestavine: <input type='text' name='ime_sestavine_" + st_sestavin + "'>";
        $('#dodane_sestavine').append(ime_sestavine);

        var kolicina_sestavine = "količina: <input type='number' name='kolicina_sestavine_" + st_sestavin + "'>";
        $('#dodane_sestavine').append(kolicina_sestavine);

        var enota_sestavine = "enota: <input type='text' name='enota_sestavine_" + st_sestavin + "'>";
        $('#dodane_sestavine').append(enota_sestavine);

        st_sestavin += 1
    }
</script>

<form method="POST">
    <div class="field">
        <label class="label">Ime</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" name="ime" type="text" placeholder="Ime recepta">
        </div>
    </div>

    <div class="field">
        <label class="label">Velikost</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" name="velikost" type="number" placeholder="Velikost recepta">
        </div>
    </div>

    <div class="field">
        <label class="label">Sestavine</label>

        <button class="button is-warning is-light" type="button" onclick="add()">Dodaj sestavino</button>
        <div id="dodane_sestavine"></div>
        <input type="hidden" value="1" id="total_chq">
    </div>


    <div class="field">
        <label class="label">Postopek</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" name="postopek" type="text" placeholder="Postopek">
        </div>
    </div>

    <div class="field is-grouped">
        <form method="POST", action="/">     
            <button class="button is-link is-warning">Dodaj</button>
        </form>

        <form method="GET", action="/">     
            <button class="button is-link is-warning is-light">Prekliči</button>
        </form>
    </div>
</form>