<h2>{{recept.ime}}</h2>

<ul>
    <li>Velikost: {{recept.velikost}}</li>
    <li>Sestavine:
        <ul>
            % for sestavinak in recept.sestavine.keys():
                <li>{{ sestavinak }}, {{recept.sestavine[sestavinak][0]}}{{recept.sestavine[sestavinak][1]}}</li>
            % end
        </ul>
    </li>
    <li>Postopek:<br>{{recept.postopek}}</li>
</ul>



<form action="/spremeni_velikost/{{recept.id}}" method="POST">
    Stara velikost: {{recept.velikost}}
    <br>
    Nova velikost: <input type="number" name="velikost">

    <input type="submit" value="spremeni velikost!">
</form>    


<form action="/poglej_recept/{{recept.id}}" method="GET">
    <input type="submit" value="nazaj">
</form>